{% extends 'base.html' %}

{% block content %}
  <form method="get">
    {{ filter.form.as_p }}
    <button type="submit">Filter</button>
  </form>
  <ul>

    <article>
        <table>
            <thead>
                 <tr>
                     <th>
                        <h2>Date</h2>
                    </th>
                    <th>
                        <h2>Name</h2>
                    </th>
                    <th>
                        <h2>Category</h2>
                    </th>
                    <th>
                        <h2>Price</h2>
                    </th>
                 </tr>
            </thead>
            <tbody>
            {% for expense in filter.qs %}
                <tr>
                    <td>
                        <h3 class="{{ expense.date|date:'l' }}">
                            {{ expense.date|date:'d.m.Y' }}
                        </h3>
                    </td>
                    <td>
                        <h3>
                            <a href="{% url 'expense-detail' expense.id %}" class="custom-link">
                                {{ expense.name }}
                            </a>
                        </h3>
                    </td>
                    <td>
                        <h3>
                            <a href="{% url 'expense-detail' expense.id %}" class="custom-link">
                                {{ expense.category }}
                            </a>
                        </h3>
                    </td>
                    <td>
                        <h3>
                            <a href="{% url 'expense-detail' expense.id %}" class="custom-link">
                                {{ expense.price }}
                            </a>
                        </h3>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </article>

  </ul>
{% endblock %}