

{% extends "expenses/base.html" %}

{% block content %}
    <article class="header-buttons">
        <h2 class="mark">{% now "d.m.Y H:i" %}</em></h2>
        <a href="{% url 'expense-create' %}"><button class="add-button">Add new expense</button></a>
        <a href="{% url 'search' %}"><button class="add-button">Filter</button></a>
    </article>
    <table>
        <thead></thead>
        <tbody>
            <tr>
                <td>
                    <a href="{% url 'expense-order-by-name' %}"><button class="order-button">Order by name ▲</button></a>
                    <a href="{% url 'expense-order-by-name-desc' %}"><button class="desc-button">▼</button></a>
                </td>
                <td>
                    <a href="{% url 'expense-order-by-category' %}"><button class="order-button">Order by category ▲</button></a>
                    <a href="{% url 'expense-order-by-category-desc' %}"><button class="desc-button">▼</button></a>

                </td>
                <td>

                    <a href="{% url 'expense-order-by-price' %}"><button class="order-button">Order by price ▲</button></a>
                    <a href="{% url 'expense-order-by-price-desc' %}"><button class="desc-button">▼</button></a>

                </td>
                <td>
                    <a href="{% url 'expense-order-by-date' %}"><button class="order-button">Order by date ▲</button></a>
                    <a href="{% url 'expense-order-by-date-desc' %}"><button class="desc-button">▼</button></a>

                </td>

            </tr>
        </tbody>

    </table>

    <article>
        <table>
            <thead>
                 <tr>
                     <th>
                        <h2>Date</h2>
                    </th>
                    <th>
                        <h2>Name</h2>
                    </th>
                    <th>
                        <h2>Category</h2>
                    </th>
                    <th>
                        <h2>Price</h2>
                    </th>
                 </tr>
            </thead>
            <tbody>
            {% for expense in expense_list %}
                <tr>
                    <td>
                        <h3 class="{{ expense.date|date:'l' }}">
                            {{ expense.date|date:'d.m.Y' }}
                        </h3>
                    </td>
                    <td>
                        <h3>
                            <a href="{% url 'expense-detail' expense.id %}" class="custom-link">
                                {{ expense.name }}
                            </a>
                        </h3>
                    </td>
                    <td>
                        <h3>
                            <a href="{% url 'expense-detail' expense.id %}" class="custom-link">
                                {{ expense.category }}
                            </a>
                        </h3>
                    </td>
                    <td>
                        <h3>
                            <a href="{% url 'expense-detail' expense.id %}" class="custom-link">
                                {{ expense.price }}
                            </a>
                        </h3>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </article>

{% endblock %}
