{% extends "expenses/base.html" %}

{% block content %}
    <article>
        <table>
            <thead>
                <tr>
                     <th>
                        <h2>Date</h2>
                    </th>
                    <th>
                        <h2>Name</h2>
                    </th>
                    <th>
                        <h2>Category</h2>
                    </th>
                    <th>
                        <h2>Price</h2>
                    </th>
                    <th>
                        <h2>Description</h2>
                    </th>
                 </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <h2 class="mark">{{ expense.date|date:'d.m.Y' }}</h2>
                    </td>
                    <td>
                        <h3>{{ expense.name }}</h3>
                    </td>
                    <td>
                        <p>{{ expense.category }}</p>
                    </td>
                    <td>
                        <p>{{ expense.price }}</p>
                    </td>
                    <td>
                        <p>{{ expense.description }}</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </article>
    <p>
    <a href="{% url 'expense-update' expense.id %}">✍️ Edit</a>
    <a href="{% url 'expense-delete' expense.id %}">⛔ Delete</a>
    </p>
{% endblock %}